
{% block page_content %}{% endblock %}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-------- <link rel="stylesheet" href="css/mystyle.css"> ------>
<style>
h1 {
  display: block;
  font-size: 12em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #B10DC9;
}

div.container {

	align: left;
	letter-spacing: 3px;
  background-color: #C4E538;
  color:#DDDDDD
}

</style>









<body>
<table style="width:100%" border="1">
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="">P2Y</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
    
        </button>
        <a class="navbar-brand" href="/need">P2Y2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
    
        </button>
    </div>
</nav>

</table>

<div class="cc">
	<h1>Opa opa</h1>
</div>

</body>


